@import '~bootstrap/scss/bootstrap.scss';


.btn-primary, .btn-danger{
  margin-right: 5px;
  margin-bottom: 5px;
}

.form-label{
  margin:20px 0 0  0;
}
.settlement-label, .post{
  margin-top: 20px;
}

.btn-primary{
  margin-right: 5px;
}
.form-button, .table{
  margin-top: 20px;
}
.danger{
  border: 1px red solid;
}
.title{
  margin-top: 20px;
}